@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body{font-family: 'Lato', sans-serif; color:#fff; font-size:15px; background:#fafafa; line-height:26px}
a{outline:none !important}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] { -moz-appearance:textfield;}
.container{padding:60px 0;}
h1, h3{font-weight:800; margin-bottom:20px; letter-spacing:1px}
h4{letter-spacing:1px}
p{margin:0}
h3 + span {border: 1px solid rgba(255, 255, 255, 0.4); border-radius: 2px; display: block; height: 2px; margin: 26px auto; width: 70px;}
.tagline{margin-bottom:60px}
h4{font-weight:600}

/*carousel css*/
.bs-slider{overflow:hidden;max-height:700px;position:relative;background:#000}.bs-slider:hover{cursor:-moz-grab;cursor:-webkit-grab}.bs-slider:active{cursor:-moz-grabbing;cursor:-webkit-grabbing}.bs-slider .bs-slider-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.4)}.bs-slider>.carousel-inner>.item>a>img,.bs-slider>.carousel-inner>.item>img{margin:auto;width:100%!important}.fade{opacity:1}.fade .item{top:0;z-index:1;opacity:0;width:100%;position:absolute;left:0!important;display:block!important;-webkit-transition:opacity ease-in-out 1s;-moz-transition:opacity ease-in-out 1s;-ms-transition:opacity ease-in-out 1s;-o-transition:opacity ease-in-out 1s;transition:opacity ease-in-out 1s}.fade .item:first-child{top:auto;position:relative}.fade .item.active{opacity:1;z-index:2;-webkit-transition:opacity ease-in-out 1s;-moz-transition:opacity ease-in-out 1s;-ms-transition:opacity ease-in-out 1s;-o-transition:opacity ease-in-out 1s;transition:opacity ease-in-out 1s}.control-round .carousel-control{top:47%;opacity:0;width:45px;height:45px;z-index:100;color:#fff;display:block;font-size:24px;cursor:pointer;overflow:hidden;line-height:43px;text-shadow:none;position:absolute;font-weight:400;background:0 0;-webkit-border-radius:100px;border-radius:100px}.control-round:hover .carousel-control{opacity:1}.control-round .carousel-control.left{left:1%}.control-round .carousel-control.right{right:1%}.control-round .carousel-control.left:hover,.control-round .carousel-control.right:hover{color:#fdfdfd;background:rgba(0,0,0,.5);border:0 transparent}.control-round .carousel-control.left>span:nth-child(1){left:45%}.control-round .carousel-control.right>span:nth-child(1){right:45%}.indicators-line>.carousel-indicators{right:0;bottom:5%;left:0;margin:auto;width:90%;height:20px;font-size:0;overflow-x:auto;overflow-y:hidden;padding-left:10px;padding-right:10px;padding-top:1px;white-space:nowrap}.indicators-line>.carousel-indicators li{padding:0;width:15px;height:15px;border:1px solid #9e9e9e;text-indent:0;overflow:hidden;text-align:left;position:relative;letter-spacing:1px;background:#9e9e9e;-webkit-font-smoothing:antialiased;-webkit-border-radius:50%;border-radius:50%;margin-right:5px;-webkit-transition:all .5s cubic-bezier(.22,.81,.01,.99);transition:all .5s cubic-bezier(.22,.81,.01,.99);z-index:10;cursor:pointer}.indicators-line>.carousel-indicators li:last-child{margin-right:0}.indicators-line>.carousel-indicators .active{margin:1px 5px 1px 1px;box-shadow:0 0 0 2px #fff;background-color:transparent;position:relative;-webkit-transition:background-color .3s ease;-moz-transition:background-color .3s ease;-o-transition:background-color .3s ease;transition:background-color .3s ease}.indicators-line>.carousel-indicators .active:before{transform:scale(.5);background-color:#fff;content:"";position:absolute;left:-1px;top:-1px;width:15px;height:15px;border-radius:50%;-webkit-transition:background-color .3s ease;-moz-transition:background-color .3s ease;-o-transition:background-color .3s ease;transition:background-color .3s ease}.slide_style_left{text-align:left!important}.slide_style_right{text-align:right!important}.slide_style_center{text-align:center!important}.slide-text{left:0;top:25%;right:0;margin:auto;position:absolute;text-align:left;padding:10px 85px}.slide-text>h1{padding:0;color:#fff;font-size:70px;font-style:normal;line-height:84px;margin-top:40px;letter-spacing:1px;display:inline-block;-webkit-animation-delay:.7s;animation-delay:.7s}.slide-text>p{padding:0;color:#fff;font-size:20px;line-height:24px;font-weight:300;margin-bottom:40px;letter-spacing:1px;-webkit-animation-delay:1.1s;animation-delay:1.1s}.slide-text>a.btn-default,.slide-text>a.btn-primary{font-weight:400;font-size:13px;line-height:15px;text-align:center;padding:17px 30px;white-space:nowrap;letter-spacing:1px;display:inline-block;text-transform:uppercase;border:none}.slide-text>a.btn-default{color:#000;margin-right:10px;-webkit-animation-delay:2s;animation-delay:2s;-webkit-transition:background .3s ease-in-out,color .3s ease-in-out;transition:background .3s ease-in-out,color .3s ease-in-out}.slide-text>a.btn-primary{color:#fff;cursor:pointer;margin-left:10px;background:#00bfff;text-decoration:none;-webkit-animation-delay:2s;animation-delay:2s;-webkit-transition:background .3s ease-in-out,color .3s ease-in-out;transition:background .3s ease-in-out,color .3s ease-in-out}.slide-text>a:active,.slide-text>a:hover{color:#fff;background:#222;-webkit-transition:background .5s ease-in-out,color .5s ease-in-out;transition:background .5s ease-in-out,color .5s ease-in-out}
#DIimg{margin-top:-100px;}

/*Custom buttons*/
.btn{font-weight:600; transition:.3s all}
.btn-primary{background:#04B1C0; border:1px solid #04B1C0;}
.btn-primary:hover, .btn-primary:focus{border-color:#26c4d2 !important; background:#26c4d2 !important; color:#fff !important;}
.btn-lg{border-radius:40px; padding:10px 22px}

/*Navbar*/
.navbar{padding:5px 15px 4px 20px; font-weight:600;}
.navbar-brand{background: url("../img/logo.png") no-repeat center bottom / 173px auto; width:160px; }
.navbar-default .navbar-nav > li > a{margin-right:20px; letter-spacing:1px line-height:22px; font-size:15px; color:#aaa}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a{color:#2B2B56 !important}
.navbar-toggle{margin-right:0}

/*Digital TV*/
#digitaltv, #about{background: #2a3c3e url(../img/bg-blur2.jpg) no-repeat 0 0 / cover; color:#333; text-align:center}
#digitaltv h3 + span, #about h3 + span{border-color:#04B1C0;}
/*Broadband*/
#broadband{background: #2a3c3e url(../img/bg-blur.jpg) no-repeat 0 0 / cover; text-align:center}
#broadband img, #digitaltv img{margin:30px 0}
#broadband h4, #digitaltv h4{margin:25px 0}

/*Plans*/
#plans{color:#2B2B56}
.nav-pills > li{float:right}
.nav-pills > li > a{border:1px solid #2B2B56; border-radius:0;color:#2B2B56; font-weight:bold;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover{background:#2B2B56; color:#fff}
.nav-pills > li + li{margin:0}
.table{margin-top:20px}
.table tr:nth-child(odd){background:#f5f5f5;}

/*management*/
#management, #clients{background:#2a3c3e; text-align:center}
#management h4{margin:25px 0 10px}
#management img{border-radius:100%; width:200px; margin-top:20px}
#management p{color:#ddd; margin-bottom:5px;}

/*Partners*/
#clients img {padding: 9px 18px; -webkit-filter: grayscale(100%); filter: grayscale(100%); transition:.3s all; margin-bottom:20px; width:210px}
#clients img:hover {-webkit-filter: grayscale(0); filter: grayscale(0);}

/*Contact us*/
#contact{background:#040100; color:#fff; text-align:left;}
#contact p{color:#aaa}
#contact hr{opacity:.2}
#contact .col-sm-4{margin-top:50px; padding-right:50px}
#contact .col-sm-4:last-child{padding:0}
#contact aside{margin:0 auto;}
.formBg{background:#fff; border-radius:4px; padding:15px 30px 30px;}
.formBg h4{color:#2B2B56; margin-bottom:20px;}
#contact .form-control{border-radius:0; height:auto; padding:10px 12px}
#contact .btn-lg{border-radius:0;}
#contact textarea{height:60px}
#contact .fa{font-size:20px;display:inline-block; padding:6px 12px; transition:all .2s; cursor:pointer; color:#b6b6b6;}
#contact .fa:hover{color:#50BCDC; text-decoration:none;}
.socio{margin-left:-10px}
/*About*/
#aboutHd{padding:100px 0; background: #2a3c3e url(../img/bg4.jpg) no-repeat 0 0 / cover; color:#fff;}
#aboutHd h1{font-size: 70px; margin-bottom: 30px;}
#aboutHd p{font-size: 20px;line-height: 24px;font-weight: 300;}
#about p{text-align:justify}

/*Footer*/
#footer{color:#333; padding:10px}
#footer .container{padding:0 20px; text-align:center;}
#footer .fa, #management .fa{font-size:16px;display:inline-block; padding:10px; transition:all .2s; cursor:pointer; color:#fff}
#footer .fa{color:#aaa;}
#footer .fa:hover, #management .fa:hover{color:#04B1C0; text-decoration:none;}
#footer small{margin-top:5px; font-size:12px; display:inline-block}

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
	.navbar-inverse .navbar-nav > li > a{margin-right:10px}
	.col-md-4, .col-sm-4 {margin-bottom: 30px}
	
    .slide-text h1, #aboutHd h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p, #aboutHd p {font-size: 18px;}
}

@media  (max-width: 768px) {
	.navbar-nav > li > a{padding-left:0}
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }
	.container{padding:30px 20px}
	#footer .container{text-align:left;}
	#footer .fa{float:none;}
	#contact .col-sm-4, #contact .col-sm-4:last-child{margin:0 0 30px; padding:0 20px}
	.autoHeight{height:auto !important}
	#broadband{background:#2B2B56}
	#DIimg{margin-top:30px;}
}

@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
}

